body {
  font-family: 'Roboto', sans-serif;
  background: url('../img/bg.jpg') fixed center;
  font-size:16px;
}
h1 {
  color:white;
}
#container {
  width:75%;
  margin:auto;
  padding:20px;
}
.btn-default {
  margin-top:7px;
}
.navbar-header, h2 {
  font-weight:bold;
  font-size:26px;
}
.right {
  float:right;
}
