body {
  font-family:'Roboto',sans-serif;
  font-size:16px;
}
h2 {
  font-weight:bold;
  font-size:26px;
}
.container-fluid {
  width:80%;
}
.navbar {
  color:#FFF;
  background-color:#e6002e;
}
.navbar a {
  color:#FFF;
}
.navbar-header {
  font-weight:bold;
  font-size:28px;
}
.nav > li > a:hover {
  color:#000;
}
.btn {
  font-family:'Roboto',sans-serif;
  font-weight:bold;
}